---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

      {% include scripts.html %}

  </body>
  <footer>
   <a href="https://hits.sh/github.com/silentsoft/hits/"><img alt="Views" src="https://priyanka-mondal.github.io"/></a>

    <!-- <img src="https://visitor-badge.glitch.me/badge?page_id=https://priyanka-mondal.github.io" alt="visitor badge"/>
  -->
  </footer>

</html>
