---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
     <!--script defer src="https://priyanka-mondal.github.io/index.js"></script>-->
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

      {% include scripts.html %}

  </body>
  <footer>
    <!--footer-->
<div class="page__footer-follow"> 
<div class="page__footer-copyright">
 <div class="website-counter"></div>
</div>
<!--/footer-->

   <!--a href="https://priyanka-mondal.github.io"><img alt="Views" src="https://hits.sh/github.com/silentsoft/hits.svg"/></a>
-->
    <!-- <img src="https://visitor-badge.glitch.me/badge?page_id=https://priyanka-mondal.github.io" alt="visitor badge"/>
  -->
<!--img src="https://img.shields.io/endpoint?url=https://counter10.p.rapidapi.com/?rapidapi-key=7e1e78b6acmsh33c386b68fad57ap177ec4jsna269280f5e9eID=priyanka_mondal_github_io" alt="priyanka-mondal.github.io">
  -->
    <!--div class="website-counter1">views:</div> <div class="website-counter"></div>-->
  </footer>

</html>
